  .bloc-titre {
    border: 6px solid #e3a0cf;
    padding: 10px;
  }

  table.titre-layout {
    width: 100%;
    border-collapse: collapse;
  }

  .titre-layout td {
    vertical-align: middle;
  }

  .logo {
    max-width: 80px;
  }

  .titre {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
  }

  .sous-titre {
    font-size: 16px;
  }

  .bloc-footer {
    border: 3px solid #e3a0cf;
  }

  .bloc-text { margin-top: 20px; margin-left : 40px; margin-right: 40px;}

  h1 { font-size: 16; text-decoration: underline; }
  body { font-family: Arial, sans-serif; }
  p { font-size: 14px; }


input, select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

table {
    border-collapse: collapse;
    margin-top: 10px;
}

td {
    padding: 8px;
}

td.cours {
    background-color: #cce5ff;
}

td.ferie {
    background-color: #e0e0e0;
    color: #888;
}